<main class="main container">
    <h1>Ayuda y soporte</h1>

    <h2>1. Introducción</h2>
    <p>ProjectStore es un marketplace donde compradores y vendedores se conectan para intercambiar productos de
        manera fácil y segura. Puedes comprar una amplia gama de artículos o vender los tuyos, aprovechando nuestras
        herramientas publicar y comprar con facilidad.</p>

    <h2>2. Guía para Compradores</h2>

    <h3>Registro y Creación de Cuenta</h3>
    <p>Para realizar compras en el marketplace, primero necesitas crear una cuenta:</p>
    <ul>
        <li>Haz clic en "Registrarse" en la parte superior derecha de la página.</li>
        <li>Ingresa tu correo electrónico y una contraseña segura.</li>
        <li>Luego confirma tu cuenta enviando una clave que llegará al correo registrado</li>
    </ul>

    <h3>Buscar Productos</h3>
    <p>Puedes buscar productos a través de:</p>
    <ul>
        <li>Barra de búsqueda: Escribe el nombre o palabra clave del producto.</li>
        <li>Categorías: Navega por las diferentes categoriasdesde la barra para encontrar lo que necesitas.</li>
        <li>Filtros: Filtra los resultados por categorías y nombres.</li>
    </ul>

    <h3>Proceso de Compra</h3>
    <ul>
        <li>Encuentra el producto que deseas comprar.</li>
        <li>Haz clic en "Agregar al carrito".</li>
        <li>Revisa tu carrito y selecciona "Comprar".</li>
        <li>Confirma tu compra.</li>
    </ul>

    <h2>3. Guía para Vendedores</h2>

    <h3>Registro de Vendedores</h3>
    <p>Si deseas vender en el marketplace:</p>
    <ul>
        <li>Haz clic en "Registrarse" en la parte superior derecha de la página.</li>
        <li>Ingresa tu correo electrónico y una contraseña segura.</li>
        <li>Luego confirma tu cuenta enviando una clave que llegará al correo registrado</li>
    </ul>

    <h3>Publicar Productos</h3>
    <ul>
        <li>Dirígete a tu panel de control o dede la barra superior y selecciona "Vender".</li>
        <li>Completa los campos de nombre, descripción, precio, cantidad y categoria.</li>
        <li>Selecciona almenos una foto que describa bién lo que venderás.</li>
        <li>Confirma la publicación.</li>
    </ul>

    <h3>Gestión de Ventas</h3>
    <ul>
        <li>Puedes gestionar tus ventas desde la sección "Mis ventas".</li>
        <li>Aquí podras ver las ventas que has realizado</li>
    </ul>

    <h2>4. Cuenta y Configuración</h2>

    <h3>Editar Perfil</h3>
    <p>Para modificar tu información personal:</p>
    <ul>
        <li>Accede a "Mi cuenta".</li>
        <li>Selecciona "Ajustes".</li>
        <li>Cambia tus datos personales, nombres o la foto de perfil y guarda los cambios.</li>
    </ul>

</main>