<footer class="footer">
    <div class="container">
        <div class="footer__seccion">
            <p class="footer__parrafo">ProjectStore © 2024.</p>
            <div class="footer__seccion">
                <a class="footer__enlace" href="mailto:brayan.alaya@hotmail.com"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon></a>
                <a class="footer__enlace" href="https://pe.linkedin.com/in/brayan-alaya-986a1327b"><mat-icon aria-hidden="false" aria-label="Example home icon" svgIcon="linkedin_icon"></mat-icon></a>
                <a class="footer__enlace" href="https://github.com/BrayanAlaya"><mat-icon aria-hidden="false" aria-label="Example home icon" svgIcon="github_icon"></mat-icon></a>
            </div>
        </div>
    </div>
    <div class="footer__bottom container">
        <p class="footer__parrafo">Este proyecto fue desarrollado como parte de mi portafolio personal.</p>
    </div>
</footer>